<ion-header >
    <ion-navbar>
      <ion-title style="text-align: center;">
        Home
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="navMyAccount()">
            <ion-icon name="options"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content scrollbar-y="false;" padding>
    <ion-list>
        <ion-item>
            <ion-label>
                <font style="font-size:20px">Wallet </font>
            </ion-label>
            <ion-label text-right>
                {{userBal}} <font style="color:red; font-size:16px">STC</font>
            </ion-label>
        </ion-item>  
      <ion-item>
        <ion-label style="text-align: center;">User</ion-label>
        <ion-select [(ngModel)]="currentUser" interface="popover" (ionChange)="giveInfo()">
            <ion-option *ngFor="let user of userList | async">{{user}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngFor="let title of postList | async" (click)="giveInfo()">
          <ion-label style="text-align: center">{{title.title}}</ion-label>
          <ion-label style="text-align: center">R: {{title.cost}}</ion-label>
      </ion-item>
      <template #viewPosts></template>
    </ion-list>
    
  </ion-content>
  <ion-footer text-center>
        Stelcoin*
    </ion-footer>
  
  
  
