<ion-header >
    <ion-navbar>
      <ion-title style="text-align: center;">
        Stelcoin*
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="openModal()">
            <ion-icon name="options"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content scrollbar-y="false;" padding>
      
      <h3 id="stelcoin-heading1" style="color:#2E2D2D;font-weight:300;text-align:center;">
        Services
      </h3>
    <ion-list>
        <ion-item>
            <ion-label>Balance: {{userBal}}</ion-label>
        </ion-item>
      <ion-item>
        <ion-label style="text-align: center;">User</ion-label>
        <ion-select [(ngModel)]="currentUser" interface="popover" (ionChange)="giveInfo()">
            <ion-option *ngFor="let user of userList | async">{{user}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngFor="let title of postList | async" (click)="giveInfo()">
          <ion-label style="text-align: center">{{title.title}}</ion-label>
          <ion-label style="text-align: center">R: {{title.cost}}</ion-label>
      </ion-item>
      <template #viewPosts></template>
    </ion-list>
    
  </ion-content>
  
  
  
